# Default ignored files
.idea*
*/__pycache__/*
*/*/__pycache__/*
logs/
olympics/__pycache__/
olympics/scenario/__pycache__/
baselines/__pycache__/
baselines/algo/__pycache__/
olympics/test/.pytest_cache/
baselines*
assets/.DS_Store
.DS_Store